:root {
    --wa-border-radius-scale: 1;
    --wa-border-width-scale: 1.5;
    --wa-space-scale: 1.125;
  }
  
  :where(wa-input, wa-button-group) {
    display: block;
  }

  wa-input {
    width: 100%;              /* fill available space up to the cap */
    max-width: 30%;           /* at most 1/4 of the parent width */
    margin-block-end: 1rem;   /* space below the input */
  }
  
  wa-button-group {
    margin-block-start: 1rem; /* space above the button group */
    margin-block-end: 1rem;
  }

  wa-progress-bar {
    width: 50%;
    margin-left: 0;
  }

  wa-callout {
    width: 50%;
    margin-left: 0;
  }
